#header {
    height: 50px;
    background:#2b463c;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#2b463c;
  }
  
  div.breadcrumbs {
    background: #688F4E;
    color: #2b463c;
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #688F4E;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2b463c;
    color: #fff;
  }